FIREBASE_API_KEY=AIzaSyDaUgKREMPnw6W0yJh6_FgWsEd6n95SM6E
FIREBASE_AUTH_DOMAIN=tripscrims.firebaseapp.com
FIREBASE_PROJECT_ID=tripscrims
FIREBASE_MESSAGING_SENDER_ID=914658590418
FIREBASE_APP_ID=1:914658590418:web:866b0e3ae8f89b61a5b70b
FIREBASE_MEASUREMENT_ID=G-Z5P8G1TSS1